body {
	text-align: center;
	font-family: sans-serif;
}
#website * {
	margin: 0;
	padding: 0;
}
#website {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 150px 70px 1fr 70px;

	grid-template-areas: 
		"cabecera cabecera cabecera cabecera cabecera"
		"menu menu menu menu menu"
		"lateral contenido contenido contenido contenido"
		"pie pie pie pie pie"
		;
	gap: 5px;
	width: 75%;
	height: 1000px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
#cabecera {
	grid-area: cabecera;
	background: blue;
	color: white;
	/* Centrar contenido */
	display: flex;
	/* Horizontal */
	justify-content: center;
	/* Vertical */
	align-items: center;
}
#menu {
	grid-area: menu;
	background: lightblue;
	color: black;
	/* height: 70px; */
	line-height: 70px;
}
#menu ul {
	display: grid;
	grid-template-columns: 15% repeat(9, 1fr);
	gap: 10px;
	list-style: none;
}
#menu ul li a {
	text-decoration: none;
}
#contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	padding: 20px;
	background: #eee;
}
#contenido article {
	background: #ccc;
	border: 1px solid #555;
}
#lateral {
	grid-area: lateral;
	background: orange;
	color: white;


}
#pie_pagina {
	grid-area: pie;
	background: black;
	color: white;
}
