* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#container {
	width: 90%;
	height: auto;
	margin: 0px auto;
	border: 1px solid rgba(225, 225, 225, 0.8);
	box-shadow: 0px 0px 10px #ccc;
	margin-top: 40px;
	margin-bottom: 40px;
	min-height: 700px;
}
#header {
	display: grid;
	grid-template-columns: 68% 30%;
	align-items: center;

	width: 100%;
	height: 120px;
	border-bottom: 1px solid rgba(225, 225, 225, 0.8);
}
.logo {
	padding: 10px;
	margin-left: 20px;
	color: black;
	text-shadow: 1px 1px 0px #ccc;
	text-transform: uppercase;

	font-family: Helvetica;
	font-style: italic;
	font-weight: 900;
}
.logo h1 {
	font-size: 35px;
}
#menu {
	width: 100%;
	height: 100%;
	padding-right: 20px;
}
#menu > ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-content: center;
	text-align: center;

	height: 100%;
	list-style: none;
}
#menu a {
	text-transform: uppercase;
	color: #444;
	padding: 10px;
	transition: 10ms all;
}
#menu a:hover {
	background: #ccc;
	color: white;
}
.content {
	display: grid;
	grid-template-columns: 20% 1fr;
	align-items: start;
	justify-items: space-between;
	column-gap: 10px;

	padding-top: 20px;
	padding-bottom: 20px;
}
.proyects {
	display: grid;
	grid-template-columns: repeat(auto-fill, 225px);
	gap: 20px;
	align-items: start;
}
.proyect {
	margin-bottom: 25px;
	border: 1px solid #ccc;
	margin-right: 20px;
}
.proyect img {
	width: 100%;
}
.proyect-info {
	padding: 10px;
}
.proyect-info a {
	font-size: 16px;
	color: black;
	transition: 300ms all;
}
.proyect-info a:hover {
	color: green;
}
.proyect-info p {
	font-size: 16px;
	color: grey;
}
.aside {
	margin-right: 30px;
	padding: 15px;
}
.aside h2 {
	display: block;
	width: 100%;
	font-size: 18px;
	font-weight: 100;
	color: #444;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(225, 225, 225, 0.8);
	text-align: center;
}
.aside ul {
	list-style: none;
}
.aside ul li {
	padding-bottom: 20px;
}
.aside a {
	display: block;
	text-align: center;
	padding: 20px;
	background: #eee;
	color: #444;
	transition: all 300ms;
	text-transform: uppercase;
}
.aside a:hover {
	background: #444;
	color: #eee;
}
.footer {
	display: grid;
	grid-template-columns: 1fr 25%;
	align-items: center;
	justify-content: start;

	height: 120px;
	align-items: center;
	border-top: 1px solid rgba(225, 225, 225, 0.8);
}
.footer .logo {
	opacity: 0.5;

	text-align: left;
	font-size: 35px;
	margin-left: 20px;
}
.footer .info {
	margin-right: 20px;
	color: #444;
}

@media (max-width: 785px) {
	#header {
		display: grid;
		grid-template-columns: 100%;
		align-items: center;
		justify-content: center;
		height: 140px;
		padding-bottom: 20px;
	}
	#header h1 {
		text-align: center;
	}
	.content {
		display: grid;
		grid-template-columns: 1fr;
		align-items: start;
		justify-items: space-between;
		column-gap: auto;
	}
	.aside,
	.proyect {
		margin-right: 0;
	}
	.proyects {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.aside ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
	}
	.footer {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: start;
		text-align: center;
	}
	.footer .logo {
		text-align: center;
	}
}
