body {
	text-align: center;
	font-family: sans-serif;
}
.layout {
	width: 1200px;
	height: 400px;
	margin: 0px auto;
	display: grid;
	/* grid-template-columns: repeat(4, calc(25% - 10px));
    grid-template-columns: repeat(2, calc(25% - 10px)) 15% 35%;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
	grid-template-columns: repeat(3, 1fr);
	/* grid-template-rows: 1fr 1fr 1fr; */
	/* grid-template-rows: 50% 10% 40%; */
	grid-template-rows: repeat(2, 1fr) 3fr;
	gap: 10px;
	border: 3px solid lightblue;
	padding: 10px;
}
.layout .caja {
	font-size: 20 px;
	font-weight: bold;
	color: white;
	padding: 20px;
	border: 4px solid black;
	background: gray;
}
.layout .red {
	grid-column-start: 1;
	grid-column-end: 4;
	background: red;
}
.layout .green {
	background: green;
}
.layout .blue {
	grid-column: 2 / 4;
	background: blue;
}
.layout .pink {
	grid-column: 1 / 3;
	background: palevioletred;
}
.layout .yellow {
	background: yellow;
}
.layout .brown {
	grid-column: 1 / 4;
	background: brown;
}
