* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 20px;
}
.clearfix {
	float: none;
	clear: both;
}
#container {
	width: 1200px auto;
	background: red;
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 40px;
	margin-bottom: 40px;

}
header {
	width: 100%;
	height: 150px;
	background-color: lightblue;
	color: #333;
	line-height: 150px;
	text-align: center;
}
aside {
	width: 25%;
	float: left;
	background-color: #ccc;
	min-height: 700px;
	text-align: center;
	line-height: 700px;
}
#articles {
	background-color: greenyellow;
	width: 75%;
	min-height: 700px;
	float: left;
}
#articles article {
	width: 25%;
	height: 150px;
	background: green;
	color: white;
	line-height: 150px;
	text-align: center;
	border: 1px solid black;
	float: left;
	margin: 15px;
}
/* Responsive / Desde 0px hasta 888px */
@media (max-width: 888px) {
	#articles article {
		width: 40%;
		background: red;
	}
}
@media (max-width: 632px) {
	/* and (max-height: 600px) */
	#articles article {
		width: 90%;
		background: blue;
	}
	#container {
		overflow: hidden;
	}
	#articles {
		width: 100%;
	}
	aside {
		float: none;
		min-height: auto;
		line-height: 20px;
		width: 100%;
		padding: 20px;
	}
}
@media (max-width: 554px) {
	/* Se ejecutaran estos estilos */
	body {
		background: lightsalmon;
	}
}
